<header class="header header-light container-fluid">
	<span class="row">
		<div class="col-xs-2 col-xs-offset-5">
			<a href="{{ path('isea_app_homepage')}}"><img src="{{ asset('bundles/iseaapp/img/logo.gif') }}"></a>
		</div>
		<nav class="col-xs-3 menu">
			<a id="trigger-overlay" href="#">Menu</a>
		</nav>
	</span>
</header>