{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid nomgtop product">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3">
			<h1>Rideaux et grilles</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
	</div>
</div>
<div class="container-fluid collapse" id="collapseExample">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>Lames agraphées</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Greensystem</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-5">
			<a href="#" class="button full button-lg button-red">Télécharger les plans</a>
		</div>
	</div>
</div>
<div class="container-fluid nomgtop product">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3">
			<h1>Rideaux et grilles</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Catégorie 1</div>
	</div>
</div>
<div class="container-fluid collapse" id="collapseExample2">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>Lames agraphées</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Greensystem</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-5">
			<a href="#" class="button full button-lg button-red">Télécharger les plans</a>
		</div>
	</div>
</div>
{% endblock %}