{% extends "iseaAppBundle::Layout/backoffice_layout.html.twig" %}

{% block body -%}
    <div class="container-fluid">
    <h1>Nouvelle demande</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backoffice_demande') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}
