<!doctype html>
<html lang="fr">
<head>
	<title>ISEA</title>
	{% stylesheets 'bundles/iseaapp/css/*' filter='cssrewrite' %}
	    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/iseaapp/css/normalize.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/iseaapp/css/style.css') }}">
	{% endstylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
</head>
<body>