{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<h1><span class="cadre">Documents Utiles</span></h1>
			<h2>"Phrase d'accroche"</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
</div>
<!-- Documents -->
<div class="container-fluid">
	<div class="row">
		{% for i in 0..2 %}
		<div class="cadre col-xs-12 col-md-8 col-md-offset-2">
			<h4>Documentations produits</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="collapse" id="collapseExample{{ i }}">
						<img src="{{ asset('bundles/iseaapp/img/documents/1.png') }}">
							<h3 style="float: left; display: inline-block">Rideaux et grilles</h3>
							<a href="" style="float: right;" class="button button-xs button-dl"></a>
					</div>
					<img style="clear :both; display: block; margin: auto" src="{{ asset('bundles/iseaapp/img/arrow-bottom-empty.png') }}" width="70px" data-toggle="collapse" data-target="#collapseExample{{ i }}" aria-expanded="false" aria-controls="collapseExample">
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}