{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<h1 id='scrollTo' class="scrollTo"><span class="cadre">Espace Recrutement</span></h1>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<h2>Consulter nos offres d'emplois</h2>
		</div>
		<div class="col-xs-2 col-xs-offset-5">
			<hr>
		</div>
	</div>
</div>
<!-- Offres -->
<div class="container-fluid">
	<div class="row">
		{% if offres|length > 0 %}
			{% for offre in offres %}
				<div class="cadre col-xs-12 col-md-4 col-md-offset-4" {% if loop.index > 1 %}style="border-top: 0;"{% endif %}>
					<div class="row">
						<h3>{{ offre.getLibelle }}</h3>
						<p>{{ offre.getResume }}</p>
						<a class="button button-black button-md" href="{{ path('isea_app_postuler', { 'id': offre.id, 'key': offre.getLibelle|replace({" " : "-"}) }) }}">Postuler à l'offre</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			Aucun offre
		{% endif %}
	</div>
</div>
{% endblock %}